mixin card-numbered(props)
    - const { number = "0", variant = "sm", body = "sm" } = props;

    - const cardBody = ` card-numbered--body-${body}`;
    - const cardVariant = ` card-numbered--${variant}`;

    div(
        class=`row no-gutters align-items-center card-numbered${cardVariant}${cardBody}${variant === "md" ? "" : " justify-content-center"}`
    ) 
        .card-numbered__text 
            block
        .card-numbered__number.row.no-gutters.align-items-center.justify-content-center 
            div #{number}
