mixin input(props)
    - const { placeholder, defaultVal, check, theme = "light" } = props;
    - const inputTheme = ` input--theme-${theme}`;
    - const checkType = check ? ` ${check}` : "";

    input(
        class=`col-12 input${inputTheme}${checkType}`,
        placeholder=placeholder,
        value=defaultVal
    )
