mixin input(props)
    - const { name, placeholder, defaultVal, check, theme = "light", type = "text" } = props;
    - const inputTheme = ` input--theme-${theme}`;
    - const checkType = check ? ` ${check}` : "";

    input(
        class=`input${inputTheme}${checkType}`,
        placeholder=placeholder,
        value=defaultVal,
        type=type,
        name=name
    )
