mixin review(props)
    - const { avatar, name, place, text, showMore = false } = props;

    - const cardBody = ` review--body-${body}`;
    - const cardVariant = ` review--${variant}`;

    div(class=`row no-gutters review`) 
        .review__content.row.no-gutters.align-items-center
            .review__icon-container
                img.review__icon(src=`/avatars/${avatar}`)
            .col 
                .review__name #{name}
                .review__place  #{place}
            .col-12.review__text
                block
            if showMore
                button.review__read-more Читать далее
