mixin delivery-type(props)
    - const { icon, title, text, sticker, rotate = "clockwise" } = props;
    - const rotationStyle = ` delivery-type__rotate-${rotate}`;

    div(class=`row no-gutters delivery-type`) 
        if (icon)
            .delivery-type__icon-block.row.no-gutters.align-items-center.justify-content-center 
                img.delivery-type__icon(src=`/icons/${icon}`)
        .delivery-type__text-block
            h3.delivery-type__title #{title}
            h6.delivery-type__descr #{text}

        div(
            class=` delivery-type__sticker row no-gutters align-items-center justify-content-center${rotationStyle}`
        )
            h5 #{sticker}
