include ../../button/button.pug
include ../../text-button/text-button.pug
include ../../card-with-icon/card-with-icon.pug

article.who-we-are.main-block.row.no-gutters
    .who-we-are__content.col-12
        header
            .row.no-gutters.justify-content-between 
                .col-auto
                    img.who-we-are__logo(src='/css/icons/logo.svg')
                .who-we-are__phone.col-auto.text-right
                    h4 +7 (963) 800-57-52
                    .who-we-are--feedback-margin
                        +text-button({label: "Обратный звонок", js: 'js-phoneback', target: "#phoneback"})
        section.who-we-are--title-margin.who-we-are--max-864
            h1 
                | #{"Доставка любых грузов "}
                .hideon-sm
                | #{"из Китая "}
                .showon-sm
                | в Россию
                i.text--blue #{" от 10 дней"}
        section.who-we-are--descr-margin.who-we-are--max-747
            h5 
                | #{"А также услуги по поиску товара "}
                .showon-sm
                | #{"или поставщиков. Таможенная очистка "}
                .showon-sm
                | и сертификация, выкуп товара, выкуп товаров с торговых площадок.
        section.who-we-are--button-margin
            +button({label: "рассчитать стоимость", theme: "dark", js: 'js-costs', target: "#costs"})
        section
            .row.no-gutters.who-we-are--spacing
                .col-auto.who-we-are--features-margin
                    +card-with-icon({icon: "lock.svg"})
                        h5.who-we-are--text-bold Гарантируем сохранность груза
                .col-auto.who-we-are--features-margin
                    +card-with-icon({icon: "parcel.svg"})
                        h5.who-we-are--text-bold 
                            | #{"Доставляем сборные грузы "}
                            .showon-sm
                            | от 1 кг
                .col-auto.who-we-are--features-margin
                    +card-with-icon({icon: "china.svg"})
                        h5.who-we-are--text-bold Большая база партнеров в Китае
    .who-we-are__container-image
