extends ../../components/layout/layout.pug

block meta
    title Demo page
    meta(name='description', content='Demo page')

block scripts
    script(type='text/javascript', src='/libs/bxslider/jquery.bxslider.min.js')

    script(type='text/javascript', src='/js/review/review.js')
block styles
    link(
        rel='stylesheet',
        type='text/css',
        href='/libs/bxslider/jquery.bxslider.css'
    )

    link(
        rel='stylesheet',
        type='text/css',
        href='/css/typography/typography.css'
    )
    link(rel='stylesheet', type='text/css', href='/css/button/button.css')
    link(
        rel='stylesheet',
        type='text/css',
        href='/css/text-button/text-button.css'
    )
    link(rel='stylesheet', type='text/css', href='/css/icons/icons.css')
    link(
        rel='stylesheet',
        type='text/css',
        href='/css/card-with-icon/card-with-icon.css'
    )
    link(
        rel='stylesheet',
        type='text/css',
        href='/css/card-numbered/card-numbered.css'
    )
    link(rel='stylesheet', type='text/css', href='/css/perk/perk.css')
    link(
        rel='stylesheet',
        type='text/css',
        href='/css/carried-item/carried-item.css'
    )
    link(
        rel='stylesheet',
        type='text/css',
        href='/css/delivery-type/delivery-type.css'
    )
    link(rel='stylesheet', type='text/css', href='/css/review/review.css')
    link(
        rel='stylesheet',
        type='text/css',
        href='/css/forms/delivery-form/delivery-form.css'
    )
    link(rel='stylesheet', type='text/css', href='/css/input/input.css')

    link(rel='stylesheet', type='text/css', href='/css/main/main.css')
    link(rel='stylesheet', type='text/css', href='/css/footer/footer.css')

    link(
        rel='stylesheet',
        type='text/css',
        href='/css/main/about-us/about-us.css'
    )
    link(
        rel='stylesheet',
        type='text/css',
        href='/css/main/delivery/delivery.css'
    )
    link(
        rel='stylesheet',
        type='text/css',
        href='/css/main/what-we-can/what-we-can.css'
    )
    link(
        rel='stylesheet',
        type='text/css',
        href='/css/main/who-we-are/who-we-are.css'
    )
    link(rel='stylesheet', type='text/css', href='/css/main/why-we/why-we.css')

block content
    include ../../components/main/main.pug
block footer
    include ../../components/footer/footer.pug
