mixin checkbox(props)
    - const { check, name, label, theme, checked = false } = props;
    - const inputTheme = theme ? ` checkbox--theme-${theme}` : "";
    - const checkType = check ? ` ${check}` : "";

    label(class=`checkbox${inputTheme}`)
        input(
            type='checkbox',
            class=`${checkType}`,
            checked=checked ? "checked" : false,
            name=name
        )
        span.checkbox__checkmark
        .checkbox__text  #{label}
