include ../../button/button.pug
include ../../perk/perk.pug
include ../../carried-item/carried-item.pug
include ../../delivery-type/delivery-type.pug

article.we-can.main-block.row.no-gutters
    section.we-can__block.col-12
        .we-can__team.row.no-gutters
            .col-auto 
                h3.we-can__team-title 
                    | #{"Над какими "}
                    i.text--green #{"еще "}
                    | этапами работает команда
                h6.we-can__team-description 
                    | #{"Мы — логистическая компания полного цикла, обеспечивающая весь комплекс услуг по доставке грузов и товаров "}
                    .showon-sm
                    | #{"из Китая "}
                    .hideon-sm
                    | #{"в Россию с ориентацией "}
                    .hideon-sm
                    .showon-sm
                    | #{"на потребности клиента "}
                    .hideon-sm
                    | и реализацию проектов любой сложности
                .we-can__team--mt-lg
                    +button({theme: "green", size: "sm", label: "рассчитать проект", js: 'js-costs', target: "#costs"})
            .col
                .we-can__team-perks.row.no-gutters.justify-content-between
                    .col-auto 
                        +perk({text: "условия поставки"})
                    .col-auto 
                        +perk({text: "протоколы испытаний"})
                    .col-auto 
                        +perk({text: "сертификация"})
                    .col-auto 
                        +perk({text: "отправка образцов"})
                    .col-auto 
                        +perk({text: "корректировка таможенной стоимости"})
                    .col-auto 
                        +perk({text: "ТН ВЭД"})
                    .col-auto 
                        +perk({text: "сбор \ndrop-off"})
                    .col-auto 
                        +perk({text: "простои"})
                    .col-auto 
                        +perk({text: "СВХ"})
                    .col-auto 
                        +perk({text: "обеспечение контракта"})
                    .col-auto 
                        +perk({text: "коносамент"})
                    .col-auto 
                        +perk({text: "таможенные риски"})
                    .col-auto 
                        +perk({text: "сроки поставки"})
                    .col-auto 
                        +perk({text: "CMR"})
                    .col-auto 
                        +perk({text: "маркировка"})
                    .col-auto 
                        +perk({text: "валютный контроль"})

    section.we-can__block.col-12
        .we-can__goods
            .row.no-gutters.justify-content-center
                h1.we-can__goods-title
                    | #{"Категории товаров, которые "}
                    .showon-sm
                    | #{"мы перевезли "}
                    .showon-sm
                    i.text--green в 2020 году
            .we-can__goods-list.row.no-gutters.justify-content-between
                .col-auto 
                    +carried-item({icon: "med.svg"})
                        h4 #{"Медицинское \nоборудование"}
                .col-auto 
                    +carried-item({icon: "sport.svg"})
                        h4 #{"Спортивное \nоборудование"}
                .col-auto 
                    +carried-item({icon: "industr.svg"})
                        h4 #{"Промышленное \nоборудование"}
                .col-auto 
                    +carried-item({icon: "clothes.svg"})
                        h4 #{"Одежда \nи аксессуары"}

                .col-12.hideon-xl

                .col-auto 
                    +carried-item({icon: "parts.svg", height: "sm"})
                        h4 Запчасти
                .col-auto 
                    +carried-item({icon: "furniture.svg", height: "sm"})
                        h4 Мебель
                .col-auto 
                    +carried-item({icon: "toys.svg", height: "sm"})
                        h4 Игрушки
                .col-auto 
                    +carried-item({icon: "led.svg", height: "sm"})
                        h4 LED и светильники

    section.we-can__block.col-12
        .we-can__deliv
            .row.no-gutters.justify-content-center
                h1.we-can__deliv-title
                    | #{"Доставляем грузы \nпо земле, воздуху и воде"}
            .we-can__deliv-list.row.no-gutters.justify-content-between
                .col-auto 
                    +delivery-type({title: "Авиаперевозки", text: "Пожалуй, самый быстрый способ доставки \nиз предствленных.", icon: "plane.png", sticker: "4 -- 12 $/кг"})
                .col-auto 
                    +delivery-type({title: "Ж/д перевозки", text: "Пожалуй, самый надежный способ доставки \nиз предствленных.", icon: "train.png", rotate: "counterclockwise", sticker: "3 -- 9 $/кг"})
                .col-auto 
                    +delivery-type({title: "Морские", text: "Пожалуй, самый дешевый способ доставки \nиз предствленных.", icon: "ship.png", sticker: "2 -- 7 $/кг"})
            .we-can__button-row.row.no-gutters.justify-content-center
                +button({label: "рассчитать стоимость", theme: "green", js: 'js-costs', target: "#costs"})
