include ../../card-with-icon/card-with-icon.pug
include ../../card-numbered/card-numbered.pug

article.about-us.main-block.row.no-gutters
    .about-us__content.col-12
        header.row.no-gutters.justify-content-center
            .h1-like.about-us__title Всё для успешного бизнеса с Китаем

        section.about-us__cards-block
            .row.no-gutters.justify-content-center.justify-content-lg-between
                .col-auto.about-us__feature
                    +card-with-icon({icon: "box.svg", margin: "sm", variant: "bordered"})
                        h4.about-us__feature-title 
                            | #{"Доставка грузов \nиз Китая"}
                        h6.about-us__feature-descr Разрабатываем оптимальный маршрут доставки товара, согласно запросу заказчика. Доставляем грузы по земле, воздуху и воде.

                .col-auto.about-us__feature
                    +card-with-icon({icon: "case.svg", margin: "sm", variant: "bordered"})
                        h4.about-us__feature-title 
                            | #{"Таможенное оформление \nи сертификация грузов"}
                        h6.about-us__feature-descr Разрабатываем оптимальный маршрут доставки товара, согласно запросу заказчика. Доставляем грузы по земле, воздуху и воде.

                .col-auto.about-us__feature
                    +card-with-icon({icon: "search.svg", margin: "sm", variant: "bordered"})
                        h4.about-us__feature-title 
                            | #{"Поиск поставщиков \nи товаров"}
                        h6.about-us__feature-descr Найдем необходимого поставщика товара в Китае и организуем поставку.

                .col-auto.about-us__feature
                    +card-with-icon({icon: "placing.svg", margin: "sm", variant: "bordered"})
                        h4.about-us__feature-title 
                            | #{"Размещение OEM/\nODM производства в Китае"}
                        h6.about-us__feature-descr Мы способны найти фабрику, которая сможет разработать, произвести товар под вашим логотипом, по вашим формам и характеристикам.

                .col-auto.about-us__feature
                    +card-with-icon({icon: "tao.svg", margin: "sm", variant: "bordered"})
                        h4.about-us__feature-title Выкуп и доставка товаров с Taobao, Alibaba, 1688
                        h6.about-us__feature-descr Наша компания также осуществляет, выкуп и доставку с торговых площадок Китая.

                .col-auto.about-us__feature
                    +card-with-icon({icon: "check.svg", margin: "sm", variant: "bordered"})
                        h4.about-us__feature-title 
                            | #{"Инспектирование фабрик \nпоставщиков товара"}
                        h6.about-us__feature-descr Разрабатываем оптимальный маршрут доставки товара, согласно запросу заказчика. Доставляем грузы по земле, воздуху и воде.

        section.about-us__work-with
            .row.no-gutters.justify-content-between
                .col-xl-auto.col-12
                    .h1-like.about-us__description-title
                        | #{"Работа "}
                        .hideon-xl
                        .showon-sm
                        | с Oasis Logistics
                    h5.about-us__description Мы контролируем те процессы, о которых вам не следует задумываться, берем на себя все риски, связанные с доставкой, таможенной очисткой и валютными колебаниями
                .about-us__client.col-xl.col-12
                    .about-us__client-title Как видит заказчик
                    .row.no-gutters.justify-content-center.justify-content-sm-between
                        .col-auto.about-us__client-card-mt
                            +card-numbered({text: "оплата груза", number: "01",})
                        .col-auto.about-us__client-card-mt
                            +card-numbered({text: "перевозка через границу ", number: "02",})
                        .col-auto.about-us__client-card-mt
                            +card-numbered({text: "доставка по РФ", number: "03",})
    .about-us__blue-hor.fade-10 
    .about-us__violet-hor.fade-20
    .about-us__orange-right.fade-10
    .about-us__green-right.fade-15
    .about-us__blue-round.fade-10
    .blue-right.fade-15
